The request to enable the interface must return status code 201

When you use the Kytos REST API to enable the interface in the `enable_interface` method, the HTTP 200 status code is returned instead 201. This return is breaking the [e2e] (https://github.com/kytos/end-to-end-tests) tests.

According to RFC 7231, section 6.3.2, the HTTP status code 201 is supposed to be used when "the request has been fulfilled and has resulted in one or more new resources being created."

Possible solution:

-  Change HTTP status code to 201.